
#banner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 315px;    
    background-image: url("../assets/unsplash-hollywood.jpg");
    background-repeat: no-repeat;
    background-position: center 27%;
    background-size: cover;
    z-index: -1;
    transform: translateX(-50%);
    margin: 0;
}
#banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9, 72, 43, .63);
}

/*  Media queries for Banner */

@media (max-width: 460px) {
    #banner {
        height: 370px;
    }
}