.search {
    display: flex;
    justify-content: center;    
    width: 650px;    
    margin: 0 auto;
    position: relative;
}
.search__input {
    width: 100%;
    height: 55px;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;    
}
.search__btn {
    background: none;
    position: absolute;
    right: 8px;  
}
.search__icon {
    font-size: 2rem;    
    color: var(--primary-color);
}