
.movie-pic {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-pic img {
    width: 40%;
    max-width: 500px;
}

/* Media Queries for Movie Pic */

@media (max-width: 750px) {
    .movie-pic {
        margin-top: 2rem;
    }
    .movie-pic img {        
        width: 50%;
    }
}

@media (max-width: 635px) {
    .movie-pic img {        
        width: 60%;
    }
}